<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>482556730535-79bgu382apjnrm7vr6311q5urnb2ankg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482556730535-79bgu382apjnrm7vr6311q5urnb2ankg</string>
	<key>API_KEY</key>
	<string>AIzaSyA32pxQcduuJ6rae20TOV0H1zN0Y0z6VaY</string>
	<key>GCM_SENDER_ID</key>
	<string>482556730535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kovtun.kovtunApp</string>
	<key>PROJECT_ID</key>
	<string>kovtun-88fbe</string>
	<key>STORAGE_BUCKET</key>
	<string>kovtun-88fbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482556730535:ios:6c139767211b54b3</string>
	<key>DATABASE_URL</key>
	<string>https://kovtun-88fbe.firebaseio.com</string>
</dict>
</plist>